<!DOCTYPE html>
<html>
<head>
  <title>MANI RAJPUT - FB MSG SENDER</title>
</head>
<body>
  <h2>🐯 DAKU 302 | FB MESSAGE SENDER PANEL</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    Token.txt: <input type="file" name="token"><br>
    Convo.txt: <input type="file" name="convo"><br>
    File.txt: <input type="file" name="file"><br>
    hatersname.txt: <input type="file" name="hatersname"><br>
    time.txt: <input type="file" name="time"><br>
    password.txt: <input type="file" name="password"><br><br>
    <button type="submit">📤 Upload</button>
  </form>
  <br>
  <a href="/run-script"><button>🚀 RUN</button></a>
</body>
  </html>
