<!DOCTYPE html>
<html>
<head>
  <title>MANI RAJPUT - FB MSG SENDER</title>
</head>
<body style="background-color:#000; color:#0f0; font-family:monospace;">
  <center>
    <img src="https://i.imgur.com/x0TQO7e.png" width="120"><br>
    <h1>🐯 MANI RAJPUT</h1>
    <h3>💀 DAKU 302 | FB MSG SENDER</h3>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="token"><br><br>
      <input type="file" name="convo"><br><br>
      <input type="file" name="file"><br><br>
      <input type="file" name="hatersname"><br><br>
      <input type="file" name="time"><br><br>
      <input type="file" name="password"><br><br>
      <button type="submit">📤 Upload Files</button>
    </form>
    <br>
    <a href="/run-script"><button style="background:red;color:white;font-size:18px;">🚀 START MANI SERVER</button></a>
  </center>
</body>
</html>
